[build]
  command = "[ -d flutter ] || git clone https://github.com/flutter/flutter.git -b stable --depth 1 && flutter/bin/flutter build web"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
